// -------- Colors -----------
@primary-color : @blue-6;
@info-color : @blue-6;
@success-color : @green-6;
@processing-color : @primary-color;
@error-color : @red-6;
@highlight-color : @red-6;
@warning-color : @gold-6;
@normal-color : #d9d9d9;
// Menu
// ---
@menu-inline-toplevel-item-height: 40px;
@menu-item-height: 40px;
@menu-collapsed-width: 80px;
@menu-bg: @component-background;
@menu-item-color: @text-color;
@menu-highlight-color: @primary-color;
@menu-item-active-bg: @item-active-bg;
@menu-item-group-title-color: @text-color-secondary;
// dark theme
@menu-dark-color: @text-color-secondary-dark;
@menu-dark-bg: @layout-header-background;
@menu-dark-arrow-color: #fff;
@menu-dark-submenu-bg: #000c17;
@menu-dark-highlight-color: #fff;
@menu-dark-item-active-bg: @primary-color;
// same as @menu-dark-item-active-bg, for naming downgrade compatible, should be deleted in next majoy version
@menu-dark-item-selected-bg: @primary-color;
@primary-color: #1890FF;
@font-size-base: 16px;
@font-family : "Proxima Nova",
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
@btn-font-size-lg: 15px;
@btn-font-size-sm: 12px;
@btn-padding-lg : 8px 32px;
@btn-padding-sm : 3px 14px;